@font-face {
  font-family: "iconfont"; /* Project id 3153399 */
  src: url('iconfont.woff2?t=1642660461984') format('woff2'),
       url('iconfont.woff?t=1642660461984') format('woff'),
       url('iconfont.ttf?t=1642660461984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6b8";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-qiyechazhao:before {
  content: "\e64a";
}

.icon-zixun:before {
  content: "\e62d";
}

