@import './assets/fonts/iconfont.css';
body {
  margin: 0;
  font-family: 'Microsoft YaHei';
  height: '100%';
  color: #333;
  background-color: #fff;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
